.cb-slideshow,
.cb-slideshow:after { 
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left;*/ 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0px;
    color: transparent;
    background-size: cover;
    /*background-position: 50% 50%;*/
    /*background-repeat: none;*/
    opacity: 0;
    z-index: 0;
     
}


/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}



/*
Author: A.K.M. NAZMUL ISLAM
Theme: custom
version: 1.0
*/

.auth_bg{
    background-color: #587BD3!important; 
    margin-top: -17px; 
    height: 577px; 
    width: 100%;
}
.header_top_adjustment{
    padding-top: 100px;
}
.bg_landing_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagelet_auth{
    background-color: white;
    /*background: transparent;*/
    padding: 15px;
    box-shadow: 0 0 1px #bbb;
}

.business_profile_achor_auth{
    cursor: pointer; 
    color:  #89c1f4;
}
.business_profile_achor_auth:hover{
    color:  #89c1f4;
    text-decoration: none;
}

.auth_landing_bg_text{
    color: #fff;
    text-align: justify;
}

@media screen and (max-width: 767px) { 
    .pagelet_auth{
        margin-bottom: 7%!important;
        margin-top: 5%!important;
    }
    .auth_landing_bg_text{
        font-size: 16px;
        margin-top: 20px!important;
    }
    .login_text_style{
        font-size: 11px;
    }
    .footer_ul li{
        float: left;
        margin: 10px 0;
        width: 50%;
    }
    .mg_bottom{
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px)and (max-width: 991px) { 
    .pagelet_auth{
        margin-bottom: 7%!important;
        margin-top: 5%!important;
    }
    .auth_landing_bg_text{
        font-size: 16px;
        margin-top: 20px!important;
    }
    .login_text_style{
        font-size: 11px;
        margin-top: 10px;
    }
    .footer_ul li{
        float: left;
        margin: 10px 0;
        width: 33.33%;
    }
}
@media screen and (min-width: 992px) { 
    .pagelet_auth{
        margin-top: 80px;
        margin-left: -2.5%;
        margin-right: 3%;
    }
    .auth_landing_bg_text{
        font-size: 21px;
        margin-top: 75px;
    }
    .login_text_style{
        font-size: 11px;
        margin-top: 12px;
    }
    .footer_ul li{
        display: inline-block;
        padding: 20px 20px 20px 0;
    }
}

.logo_modified{
    position: relative;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.sign_up_text{
    color: #89c1f4; 
    font-size: 20px;
}

.security_check_input{
    width: 300px!important;
}
.input_custom_style{
    border-radius: 0!important;
}
.footer_ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer_ul li a{
    color: #959595;
}

.logo_text_modify a{
    margin-left: 5px;
}

/*Background Sliding Image*/

.landing_img_textarea{
    resize: none!important;
}
.panel_text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.imgbuttonb {
    height: 32px;
    position: absolute;
    right: 64px;
    top: 30px;
    width: 32px;
}
.imgbuttonf {
    height: 32px;
    position: absolute;
    right: 32px;
    top: 30px;
    width: 32px;
}